* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

body {
    background-color: #aca391;
}

h1 {
    background-color: #9556a5;
    color: #fff;
    font-weight: 800;
    font-size: 36px;
}

a {
    font-size: 24px;
    font-weight: 800;
}

.edible {
    font-size: 16px;
}

img {
    width: 800px;
    height: auto;
}

.heart {
    width: 25px;
    height: auto;
}